*.vert linguist-language=GLSL
*.frag linguist-language=GLSL
*.comp linguist-language=GLSL
*.geom linguist-language=GLSL
*.tesc linguist-language=GLSL
*.tese linguist-language=GLSL
*.h linguist-language=C
